<h1>Angular Pagination</h1>

<div class="container">
    <table class='table' style="border:none; color:white">
         <thead>
            <th style="margin-right: 7px">User_id</th>
            <th style="margin-right: 2px">Post_Id</th>
            <th class="text-center" style="margin-right: 2px">title</th>
            <th class="text-center" style="margin-right: 2px">Body</th>
         </thead>
         <tbody>
            <tr 
            *ngFor="let post of POSTS
            | paginate: {
                itemsPerPage: tablesize,
                currentPage: page,
                totalItems: count
            };
            let i = index
            ">
                 <td style="border-bottom:none;margin-right: 2px;">{{post.userId}}</td>
                 <td style="border-bottom:none;margin-right: 2px">{{post.id}}</td>
                 <td style="border-bottom:none;margin-right: 2px">{{post.title}}</td>
                 <td style="border-bottom:none;margin-right: 2px">{{post.body}}</td>
            </tr>
         </tbody>
    </table>

   <div style="color:white">
       <pagination-controls
        previousLabel = "previous"
        nextLabel = "next"
        (pageChange)="onTableDataChange($event)"
       >
             
       </pagination-controls>
   </div>

</div>


